.padd {
      padding: 0 40px;
      padding-top: 40px;
}

.filterbar {
      display: flex;
      justify-content: space-between;
      align-content: center;

      &_button {
            cursor: pointer;
            border: 1px solid;
            border-color: black;
            padding: 0 20px;
            font-size: 16px;
            height: 44px;
            background-color: transparent;
            display: flex;
            align-items: center;
            border-radius: 4px;

            &>img {
                  margin-right: 10px;
            }
      }

      &>div>select {
            height: 44px;
            font-size: 16px;
            display: inline-block;
            border: 1px solid black;
            width: 100%;
            width: 320px;
            border-radius: 4px;
            cursor: pointer;
            padding: 8px 7px;
      }
}

.filtermodal {
      position: fixed;
      top: 0;
      left: 0;
      width: 350px;
      height: 100%;
      background-color: grey;
      z-index: 999;
      opacity: 0;
      visibility: hidden;
      transition: 1s ease;
      transform: translateX(-100%);

      &.active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
      }

      &.inactive {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-100%);
      }

      &_header {
            height: 95px;
            padding: 0 40px;

            &_padd {
                  padding: 15px 0;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  &_label {
                        display: flex;
                        align-items: center;
                        height: 65px;
                        font-size: 26px;
                        width: 100%;
                  }

                  &>img {
                        cursor: pointer;
                        margin-top: 2px;
                  }
            }

      }

      &_accordion {
            padding: 0 40px;

            &_block {
                  padding: 22px 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  &>div {
                        font-size: 20px;
                        width: 100%;
                  }
            }

            &_content {
                  margin-bottom: 20px;

                  &>li {
                        margin-bottom: 7px;

                        &>label>input {
                              margin-right: 5px;
                        }
                  }
            }
      }
}

.flip {
      transform: rotateX(180deg);
}

hr:last-child {
      visibility: hidden;
}