$overlay-color: rgba(0, 0, 0, 0.75);

.headlimit {
  padding: 0 40px;
}

a {
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;

  &_item {
    display: flex;
    align-items: center;
  }

  &_logo {
    height: 55px;
    width: 55px;
  }

  &_nav {
    display: flex;
    justify-content: center;
    & > ul {
      margin: 0 auto;
      & > li {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: flex-start; /* Align items to the top */
  }

  &_block {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    transition:
      opacity 0.3s,
      transform 0.3s; /* Add transform property */

    &_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_close {
    padding: 10px 20px;
    background-color: transparent;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.searchForm {
  display: flex;
  width: 100%;
  &_button {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & > input {
    font-size: 18px;
    border: 0;
    width: 100%;
    padding: 8px 15px;
    outline: none;
  }
}
