.cartModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 80%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
    background-color: #ffffff;
    padding: 25px;
    transition: 1s ease;
    transform: translateX(100%);
    opacity: 0;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        display: flex;
        flex-direction: column;
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }

    &_content {
        &_label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            flex: 0 0 auto;

            &>a {
                padding-right: 0px;
            }

            &>span {
                font-size: 20px;
            }
        }
    }

    &_list {
        flex: 1 1 auto;

        &_item {
            font-size: 18px;
            margin-top: 30px;
            flex: 1;
            overflow-y: auto;
            display: flex;

            &_content {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: 8px;
                justify-content: space-between;

                &_buttonBlock {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    align-items: center;

                    &_button {
                        display: flex;

                        &>button {
                            padding: 7px;
                            font-size: 20px;
                            border: 1px solid black;
                            background-color: white;
                            cursor: pointer;

                            &:first-child {
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;
                            }

                            &:last-child {
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                            }
                        }

                        &>h4 {
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            border-bottom: 1px solid black;
                            border-top: 1px solid black;
                        }
                    }
                }
            }

            &_img {
                &>img {
                    height: 120px;
                    width: 120px;
                }
            }
        }
    }

    &_footer {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &>a {
            background-color: black;
            color: white;
            width: 100%;
        }

        &_total {
            margin-bottom: 15px;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
        }
    }
}