.cartModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 80%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
    background-color: #ffffff;
    padding: 25px;
    transition: 1s ease;
    transform: translateX(100%);
    opacity: 0;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }

    &_content {
        &_label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            &>a {
                padding-right: 0px;
            }

            &>span {
                font-size: 20px;
            }
        }
    }

    &_list {
        display: flex;
        flex-direction: column;
        height: 100%;

        &_item {
            font-size: 18px;
            margin-top: 30px;
            flex: 1;
            overflow-y: auto;
        }

        &_footer {
            position: sticky;
            bottom: 0;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            flex-direction: column;

            &>a {
                background-color: black;
                color: white;
                width: 100%;
                
            }
            &_total {
                margin-bottom: 15px;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}